<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>STBI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetEducationDetailsServlet</servlet-name>
    <servlet-class>begindashboardservlets.GetEducationDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEducationDetailsServlet</servlet-name>
    <url-pattern>/GetEducationDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetExistingIdeaServlet</servlet-name>
    <servlet-class>begindashboardservlets.GetExistingIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExistingIdeaServlet</servlet-name>
    <url-pattern>/GetExistingIdeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBasicDetailsServlet</servlet-name>
    <servlet-class>begindashboardservlets.GetBasicDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBasicDetailsServlet</servlet-name>
    <url-pattern>/GetBasicDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPersonalDetailsServlet</servlet-name>
    <servlet-class>begindashboardservlets.GetPersonalDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPersonalDetailsServlet</servlet-name>
    <url-pattern>/GetPersonalDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSkillDetailsServlet</servlet-name>
    <servlet-class>begindashboardservlets.GetSkillDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSkillDetailsServlet</servlet-name>
    <url-pattern>/GetSkillDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorForgotpass</servlet-name>
    <servlet-class>com.mentor.mentorforgotpassword.MentorForgotpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorForgotpass</servlet-name>
    <url-pattern>/MentorForgotpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorLogin</servlet-name>
    <servlet-class>com.mentor.mentorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorLogin</servlet-name>
    <url-pattern>/MentorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorAddCourse</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentorAddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorAddCourse</servlet-name>
    <url-pattern>/MentorAddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorAddSkill</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentorAddSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorAddSkill</servlet-name>
    <url-pattern>/MentorAddSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentoraAddEducation</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentoraAddEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoraAddEducation</servlet-name>
    <url-pattern>/MentoraAddEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorExp</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentorExp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorExp</servlet-name>
    <url-pattern>/MentorExp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorProfessionalExperience</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentorProfessionalExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorProfessionalExperience</servlet-name>
    <url-pattern>/MentorProfessionalExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorUpdatepersonal</servlet-name>
    <servlet-class>com.mentor.mentorpersonalinfo.MentorUpdatepersonal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorUpdatepersonal</servlet-name>
    <url-pattern>/MentorUpdatepersonal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckemailAjax</servlet-name>
    <servlet-class>com.mentor.MentorRegistration.CheckemailAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckemailAjax</servlet-name>
    <url-pattern>/CheckemailAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorRegistration</servlet-name>
    <servlet-class>com.mentor.MentorRegistration.MentorRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorRegistration</servlet-name>
    <url-pattern>/MentorRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorResetpassword</servlet-name>
    <servlet-class>com.mentor.mentorresetpassword.MentorResetpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorResetpassword</servlet-name>
    <url-pattern>/MentorResetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorLogout</servlet-name>
    <servlet-class>com.mentor.signout.MentorLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorLogout</servlet-name>
    <url-pattern>/MentorLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.user.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchEmail</servlet-name>
    <servlet-class>com.user.controller.MatchEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchEmail</servlet-name>
    <url-pattern>/MatchEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.user.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserForgetpass</servlet-name>
    <servlet-class>com.user.forgot.userpassword.UserForgetpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgetpass</servlet-name>
    <url-pattern>/UserForgetpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdeaSubmit</servlet-name>
    <servlet-class>com.user.idea.IdeaSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaSubmit</servlet-name>
    <url-pattern>/IdeaSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.user.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserChatMentor</servlet-name>
    <servlet-class>com.user.mentor.chat.UserChatMentor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChatMentor</servlet-name>
    <url-pattern>/UserChatMentor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRequestSupport</servlet-name>
    <servlet-class>com.user.newuser.request.support.UserRequestSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequestSupport</servlet-name>
    <url-pattern>/UserRequestSupport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUserEducation</servlet-name>
    <servlet-class>com.user.personal.userinfo.InsertUserEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserEducation</servlet-name>
    <url-pattern>/InsertUserEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>com.user.personal.userinfo.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserEducation</servlet-name>
    <servlet-class>com.user.personal.userinfo.UpdateUserEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserEducation</servlet-name>
    <url-pattern>/UpdateUserEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddskill</servlet-name>
    <servlet-class>com.user.personal.userinfo.UserAddskill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddskill</servlet-name>
    <url-pattern>/UserAddskill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>com.user.setpassword.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.user.userlogout.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListOfIdeasMentorServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.ListOfIdeasMentorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfIdeasMentorServlet</servlet-name>
    <url-pattern>/ListOfIdeasMentorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAsMentorServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.LoginAsMentorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAsMentorServlet</servlet-name>
    <url-pattern>/LoginAsMentorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorBasicServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MentorBasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorBasicServlet</servlet-name>
    <url-pattern>/MentorBasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorCourseDesignServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MentorCourseDesignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorCourseDesignServlet</servlet-name>
    <url-pattern>/MentorCourseDesignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorEducationServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MentorEducationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorEducationServlet</servlet-name>
    <url-pattern>/MentorEducationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorPersonalDetailsServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MentorPersonalDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorPersonalDetailsServlet</servlet-name>
    <url-pattern>/MentorPersonalDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MentorPersonalExperienceServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MentorPersonalExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorPersonalExperienceServlet</servlet-name>
    <url-pattern>/MentorPersonalExperienceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAreaofIforIServlet</servlet-name>
    <servlet-class>joiasmentordashboardservlets.MyAreaofIforIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAreaofIforIServlet</servlet-name>
    <url-pattern>/MyAreaofIforIServlet</url-pattern>
  </servlet-mapping>
</web-app>